# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
obj/Debug/
obj/Release/
UnityGenerated/
Library/
Builds/
*.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
.vscode/
.vs/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.code-workspace

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ==== #
# Mine #
# ==== #

